.slider {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  user-select: none;
  z-index: 10;
}

.slide-track {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.slide {
  flex-shrink: 0;
  width: 500px;
  height: 89vh;
  margin: 0 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: visible;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.slide-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  transform: scale(2.05);
  user-select: none;
}

.slide-overlay {
  position: absolute;
  bottom: -1.75rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: 10;
  transition: opacity 0.3s ease;
  opacity: 0;
}

/* Vertical Mobile Styles */
@media (max-width: 767px) and (orientation: portrait) {
  .slide {
    width: 95vw !important;
    height: 90vh !important;
    margin: 0 2.5vw;
  }
}

/* Horizontal Mobile Styles */
@media (max-height: 500px) and (orientation: landscape) {
  .slide {
    width: 175px !important;
    height: 80vh !important;
    margin: 0 5px;
  }
}