@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Sevillana&family=Syne:wght@400..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://db.onlinewebfonts.com/c/62123f44beddc6527e8ed8403f7d6198?family=Thomas+Mag+Regular");
@import url('https://fonts.cdnfonts.com/css/gretha');
@import url('https://fonts.cdnfonts.com/css/mirage-2');
@import url('https://fonts.cdnfonts.com/css/aventi');
@import url('https://fonts.cdnfonts.com/css/kaldera');
@import url('https://fonts.cdnfonts.com/css/neroit-mission');
@import url('https://fonts.cdnfonts.com/css/mories');
@import url('https://fonts.cdnfonts.com/css/lt-binary-neue');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Sevillana&family=Syne:wght@400..800&display=swap');
@import url(https://db.onlinewebfonts.com/c/384a6031928e262848e4e7ef80037466?family=Kudryashev+Display+Sans);
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

/* hide scrollbar for all browsers */
html {
  overflow: -moz-scrollbar-none; /* Old Firefox */
  scrollbar-width: none; /* New Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

html, body {
  /* cursor: none; */
  overscroll-behavior: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
}

::selection {
  background: transparent;
}

body {
        /* font-family: "Roboto", sans-serif; */
    /* font-family: "Thomas Mag Regular", sans-serif; */
    /* font-family: 'Gretha', sans-serif; */
    /* font-family: 'Mirage', sans-serif; */
    /* font-family: 'Aventi', sans-serif; */
    /* font-family: 'Kaldera', sans-serif; */
    /* font-family: 'Neroit Mission', sans-serif; */
    /* font-family: 'Mories', sans-serif; */
    /* font-family: 'LT Binary Neue', sans-serif; */
    font-family: 'Syne', sans-serif;
    /* font-family: 'Anton', sans-serif; */
    /* font-family: "Kudryashev Display Sans", sans-serif; */
    background-color: rgb(75, 75, 75);
}

.logo {
  /* font-family: 'Mories', sans-serif; */
    /* font-family: 'Syne', sans-serif; */
  
}

/* @media (pointer: coarse) {
  .custom-cursor {
    display: none !important;
  }
} */

/* @import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"); */


.slider {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  user-select: none;
  z-index: 140;
}

.slide-track {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.slide {
  flex-shrink: 0;
  width: 350px;
  height: 900px;
  margin: 0 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: visible;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.slide-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  transform: scale(2.25);
  user-select: none;
}

.slide-overlay {
  position: absolute;
  bottom: -1.75rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: 10;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.slide:hover .slide-overlay {
  opacity: calc(1 - var(--slider-moving, 1));
}

.project-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
}

.project-arrow {
  width: 16px;
  height: 16px;
}

.project-arrow svg {
  stroke: #fff;
  stroke-width: 2;
}

/* sample project page */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0f0f0f;
  color: #fff;
}

.container a,
.container p {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}

.container a {
  text-decoration: none;
  color: #5f5f5f;
}
