@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Sevillana&family=Syne:wght@400..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://db.onlinewebfonts.com/c/62123f44beddc6527e8ed8403f7d6198?family=Thomas+Mag+Regular");
@import url('https://fonts.cdnfonts.com/css/gretha');
@import url('https://fonts.cdnfonts.com/css/mirage-2');
@import url('https://fonts.cdnfonts.com/css/aventi');
@import url('https://fonts.cdnfonts.com/css/kaldera');
@import url('https://fonts.cdnfonts.com/css/neroit-mission');
@import url('https://fonts.cdnfonts.com/css/mories');
@import url('https://fonts.cdnfonts.com/css/lt-binary-neue');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Sevillana&family=Syne:wght@400..800&display=swap');
@import url(https://db.onlinewebfonts.com/c/384a6031928e262848e4e7ef80037466?family=Kudryashev+Display+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #141414;
          /* font-family: "Roboto", sans-serif; */
    /* font-family: "Thomas Mag Regular", sans-serif; */
    /* font-family: 'Gretha', sans-serif; */
    /* font-family: 'Mirage', sans-serif; */
    /* font-family: 'Aventi', sans-serif; */
    /* font-family: 'Kaldera', sans-serif; */
    /* font-family: 'Neroit Mission', sans-serif; */
    font-family: 'Mories', sans-serif;
    /* font-family: 'LT Binary Neue', sans-serif; */
    /* font-family: 'Syne', sans-serif; */
    /* font-family: 'Anton', sans-serif; */
    /* font-family: "Kudryashev Display Sans", sans-serif; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

nav {
  position: fixed;
  width: 100%;
  padding: 0.5em 1em;
  display: flex;
  justify-content: left;
  align-items: center;

}

.nav-item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   
}

.nav-item a {
  position: relative;
  top: 100px;
  font-size: 38px;
  font-weight: 800;
  text-decoration: none;
  color: #3a3a3a;
  text-transform: capitalize;
 mix-blend-mode: difference;
  opacity: 0.5;
}

.nav-item a#active {
  opacity: 1;
}

.hero {
  position: absolute;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  color: #fff;
}

.icon,
.icon-2 {
  flex: 0.5;
  padding: 0 5em;
  font-size: 30px;
  opacity: 0.5;
}

.icon-2 {
  text-align: right;
}

.icon ion-icon,
.icon-2 ion-icon {
  transform: scale(0);
}

.title {
  flex: 2;
  text-align: center;
  font-size: 40px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.title p {
  position: relative;
  top: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.preview {
  position: absolute;
  bottom: -150px;
  right: 2em;
  display: flex;
  gap: 0.3em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.preview img {
  position: relative;
  top: 100px;
  width: 80px;
  height: 50px;
}

.slide-num {
  margin: 3em 0;
  text-align: center;
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slide-num p {
  position: relative;
  top: 30px;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.2em;
}

.container .col {
  position: relative;
  top: 0;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.col .item {
  position: relative;
  flex: 1;
  width: 100%;
  /* background: gainsboro; */
  overflow: hidden;
}

.c-1 .item,
.c-3 .item,
.c-5 .item {
  top: 101%;
}

.c-2 .item,
.c-4 .item {
  top: -101%;
}

@media (max-width: 900px) {
  .slide-num {
    text-align: left;
    padding-left: 2em;
    margin-bottom: 2.5em;
  }

  .title {
    font-size: 30px;
  }

  .icon,
  .icon-2 {
    padding: 0 1em;
    font-size: 16px;
  }

  .preview img {
    width: 60px;
    height: 40px;
  }
}
